<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopping List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div class="header-container">
      <form method="post">
        <button
          class="button-3"
          type="submit"
          method="GET"
          name="edit"
          value="edit"
        >
          Edit Recipes
        </button>
        <button
          class="button-3"
          type="submit"
          method="GET"
          name="shopping"
          value="shopping"
        >
          Create shopping list
        </button>
      </form>
    </div>
    <div class="add-single-item">
      <div>
        <form class="items" id="existing" method="post">
          <legend><b>Add from existing items:</b></legend>
          <select required name="existing_item_name">
            {% for item in single_items %}
            <option name="option" value="{{ item.name }}">
              {{ item.name }}
            </option>
            {% endfor %}
          </select>
          <input type="text" name="amount" placeholder="Amount" />
          <input type="text" name="unit" placeholder="Unit" />
          <button
            class="button-3"
            form="existing"
            type="submit"
            name="item"
            value="add"
          >
            Add
          </button>
        </form>
      </div>
      <div>
        <form class="items" id="new" method="post">
          <legend><b>Add new item:</b></legend>
          <input type="text" name="new_item_name" placeholder="Item name" />
          <input type="text" name="amount" placeholder="Amount" />
          <input type="text" name="unit" placeholder="Unit" />
          <input type="text" name="type" placeholder="Type" />
          <button
            class="button-3"
            form="new"
            type="submit"
            name="item"
            value="add"
          >
            Add
          </button>
        </form>
      </div>
    </div>
    <div class="flex-container">
      <table class="styled-table">
        <tr>
          <th>Item</th>
          <th>Amount</th>
          <th>Unit</th>
          <th>Action</th>
        </tr>
        {% for item in items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.unit }}</td>
          <td>
            <form method="post">
              <button
                class="button-3"
                type="submit"
                name="action"
                value="{{ item.id }}"
              >
                Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
