<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Recipes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='crud.css') }}"
    />
  </head>
  <body>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <form method="post">
        <input required type="text" name="username" placeholder="Username" />
        <input required type="text" name="passwrod" placeholder="Password" />
        <button type="submit" method="GET" name="view_list" value="view_list">
        View shopping list
    </form>
    <div>
  </body>
</html>
